.leaflet-container {
  
  height: 100%;
    width: 100vw;
}

.navbar {
  margin-bottom: 0px;
}

.div-map {
  position: relative;
}

.div-pickup {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}
.driver-box {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 300px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}

.driver-dashboard {
  color: #5d5555;
  position: absolute;
  top: -53px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #b1e08e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
}

.user-dashboard {
  color: #5d5555;
  position: absolute;
  top: -53px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #b1e08e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
}

.ride-price-dashboard {
  color: #5d5555;
  position: absolute;
  top: 75px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #f0c56e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-request-dashboard {
  color: #ffffff;
  position: absolute;
  top: 203px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: gray;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.check-ride-dashboard {
  color: #ffffff;
  position: absolute;
  top: 72px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #0dc7ef;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 15px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.div-accept-button {
  position: absolute;
  top: 203px;
  right: 50%;
  width: 260px;
  height: 120px;
  transform: translate(50%, 50%);
  z-index: 2000;
  margin: 2px;
  visibility: hidden;
}

.badge.charge {
  background-color: #f86d20;
}

.badge.account {
  background-color: #3c8f05;
}

.div-ride-price {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
 
}

.div-request {
  color: #454242;
  position: absolute;
  bottom: 205px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: #eef9e9;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
  visibility: hidden;
}

.div-pickup-btn-box {
  margin: 5px;
  bottom: 5px;
  text-align: center;
  left: 25%;
}

.div-pickup-address {
  line-height: 17px;
  padding: 10px;
  font-size: 12px;
  color: rgb(59, 58, 58);
}

.style-1 {
  color: green;
}

.mapid {   
  height: 865px;
  width: 100%; 
}

.popup-title {
  color: #000000;
}

.popup-content {
  color:#4ea74e;
}

div.rowPadding {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.driverApplyBox {
   background-color: antiquewhite;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 20px;
   box-shadow: 10px 10px 10px gray;
}

.driverLoginBox {
  background-color: #e3efeb;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 94px;
  box-shadow: 10px 10px 10px gray;
}
.boxHeader {
  color: #454242;
  font-size: 15px;
}

.tooltip-inner {
  background-color: #bd3030;
}

.tooltip-arrow {
  border-bottom-color: #bd3030;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 3px;
  padding-right: 3px;
}


