.leaflet-container {
  
  height: 100%;
    width: 100vw;
}

.navbar {
  margin-bottom: 0px;
}

.div-map {
  position: relative;
}

.div-pickup {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}
.driver-box {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 300px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}

.driver-dashboard {
  color: #5d5555;
  position: fixed;
  top: -53px;
  right: 50%;
  width: 260px;
  height: 130px;
  border: 2px solid white;
  background-color: #b1e08e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
}

.user-dashboard {
  color: #5d5555;
  position: absolute;
  top: -53px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #b1e08e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;

}
.register-car {
  color: #ffffff;
  position: fixed;
  top: 24%;
  left: 55%;
  width: 300px;
  height: 44px;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  visibility: visible;
}

.account-verify {
  color: #ffffff;
  position: fixed;
  top: 71%;
  left: 55%;
  width: 300px;
  height: 44px;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  visibility: visible;
}

.user-info {
  color: #ffffff;
  position: fixed;
  top: 8%;
  left: 55%;
  width: 258px;
  height: 44px;
  border: 2px solid white;
  background-color: #a9adac;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: visible;
}

.div-intro {
  color: #ffffff;
  position: fixed;
  top: 21%;
  left: 55%;
  width: 258px;
  height: 52px;
  border: 2px solid white;
  background-color: #ef6a36;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 11px;
  padding-right: 9px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: visible;
}
.div-profile {
  color: #ffffff;
  position: fixed;
  top: 29%;
  left: 57%;
  width: 300px;
  height: 44px;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  visibility: visible;
}


.ride-price-dashboard {
  color: #ffffff;
  position: fixed;
  top: 50%;
  right: 14%;
  width: 260px;
  height: 151px;
  border: 2px solid white;
  background-color: #deaf3e;;
  z-index: 2000;
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-request-dashboard {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 10%;
  width: 299px;
  height: 60px;
  border: 2px solid white;
  background-color: #ba0860;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-left: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-route-status {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 50%;
  width: 299px;
  height: 60px;
  border: 2px solid white;
  background-color: #ba0860;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-left: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-route-try {
  color: #5f5b5b;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 51%;
  width: 312px;
  height: 72px;
  border: 2px solid white;
  background-color: #f5e3a5;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-right: 11px;
  padding-left: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.u-driver-dashboard {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  bottom: 10%;
  right: 11%;
  width: 305px;
  height: 86px;
  border: 2px solid white;
  background-color: #16cead;
  z-index: 2000;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 9px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.u-driver-dashboard-2 {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  bottom: 8%;
  right: 11%;
  width: 305px;
  height: 86px;
  border: 2px solid white;
  background-color: #e6b939;
  z-index: 2000;
  padding-top: 6px;
  padding-left: 4px;
  padding-right: 9px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.driver-pax-action {
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 20%;
  width: 260px;
  height: 133px;
  border: 2px solid white;
  background-color: #7d8189;
  z-index: 2000;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.driver-pax-end-action {
  color: #000000;
  position: fixed;
  bottom: 30px;
  right: 20%;
  width: 260px;
  height: 133px;
  border: 2px solid white;
  background-color: #d8f3da;
  z-index: 2000;
  padding-top: 2spx;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.check-ride-dashboard {
  height: 76px;
  left: 38%;
  position: fixed;
  top: 50%;
  width: 263px;
  margin: -100px 0 0 -100px;
  color: #ffffff;
  border: 2px solid white;
  background-color: #3a6469;
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.div-accept-button {
  position: absolute;
  top: 203px;
  right: 50%;
  width: 260px;
  height: 120px;
  transform: translate(50%, 50%);
  z-index: 2000;
  margin: 2px;
  visibility: hidden;
}

.badge.charge {
  background-color: #f86d20;
}

.badge.account {
  background-color: #3c8f05;
}

.div-ride-price {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
 
}

.div-request {
  color: #454242;
  position: absolute;
  bottom: 205px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: #eef9e9;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
  visibility: hidden;
}

.div-pickup-btn-box {
  margin: 5px;
  bottom: 5px;
  text-align: center;
  left: 25%;
}

.div-pickup-address {
  line-height: 17px;
  padding: 10px;
  font-size: 12px;
  color: rgb(59, 58, 58);
}

.style-1 {
  color: green;
}

.mapid {   
  height: 865px;
  width: 100%; 
}

.popup-title {
  color: #000000;
}

.popup-content {
  color:#4ea74e;
}

div.rowPadding {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.rowPaddingSm {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.driverApplyBox {
   background-color: antiquewhite;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 20px;
   box-shadow: 10px 10px 10px gray;
}

.driverLoginBox {
  background-color: #e3efeb;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 94px;
  box-shadow: 10px 10px 10px gray;
}

.riderLoginBox {
  background-color: #3ce9af;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 94px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  width: 312px;
  height: 331px;
  color: white;
  margin-left: 5%;
  margin-bottom: 10%;
}

.riderApplyBox {
  background-color: #c9c5c0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  width: 312px;
  margin-left: 5%;
  margin-bottom: 10%;
}

.boxHeader {
  color: #454242;
  font-size: 15px;
}

.tooltip-inner {
  background-color: #bd3030;
}

.tooltip-arrow {
  border-bottom-color: #bd3030;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 3px;
  padding-right: 3px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-ride-request {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shake-finish-ride {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.shake-ride-to-pickup {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.shake-intro {
  animation: shake 5.5s;
  animation-iteration-count: infinite;
}

.notify-rider {
  position: absolute;
  top: -33px;
  left: 39px;
  color: #ef0606;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 13px;
  padding-bottom: 2px;
}

.notify-rider_2 {
  position: absolute;
  top: -33px;
  left: 39px;
  color: #ef0606;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 13px;
  padding-bottom: 2px;
}

.colPadding {
  padding-top: 5px;
}

.file1 { 
  font-size: 14px;
  overflow:hidden;
}

input[type="file"] {
  width: 93px;
}
