body {
  background-color: #f7f7f7;
}
.leaflet-container {
  
  height: 100%;
    width: 100vw;
}

.navbar {
  margin-bottom: 0px;
}

.div-map {
  position: relative;
}

.div-branch {
  position: fixed;
  top: 30%;
  left: 55%;
  transform: translate(-55%, -55%);
  z-index: 2009;
  visibility: visible;
}

.div-branch-user {
  margin-bottom: 25px;
}

.div-pickup {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: auto;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}
.driver-box {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 300px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
}

.driver-dashboard {
  background-color: #b1e08e;
  border: 2px solid white;
  position: fixed;
  top: 4%;
  right: 50%;
  width: 264px;
  height: 127px;
  transform: translate(50%, 0%);
  z-index: 2000;
  padding-top: 15px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
}

.user-dashboard {
  color: #5d5555;
  position: absolute;
  top: -53px;
  right: 50%;
  width: 260px;
  height: 120px;
  border: 2px solid white;
  background-color: #b1e08e;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;

}
.register-car {
  color: #ffffff;
  position: fixed;
  top: 35%;
  right: 50%;
  width: 284px;
  height: 44px;
  transform: translate(50%, 50%);
  z-index: 2000;
  visibility: visible;
}

.account-verify {
  color: #ffffff;
  position: fixed;
  top: 49%;
  right: 50%;
  width: 300px;
  height: 44px;
  transform: translate(50%, 50%);
  z-index: 2000;
  visibility: visible;
}

.user-info {
  background-color: teal;
  color: #ffffff;
  position: fixed;
  top: 3%;
  right: 71%;
  width: 120px;
  height: 30px;
  padding-top: 15px;
  padding-right: 3px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  transform: translate(50%, 0%);
  z-index: 3000;
  visibility: visible;
}

.div-diff {
  position: fixed;
  top: 10%;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 1800;
}

.div-eta {
  color: #ffffff;
  position: fixed;
  top: 30%;
  left: 28%;
  width: 79px;
  height: 52px;
  transform: translate(-55%, -55%);
  z-index: 2000;
  text-align: center;
  visibility: visible;
}

.div-profile {
  color: #ffffff;
  position: fixed;
  top: 32%;
  right: 50%;
  width: 300px;
  height: 44px;
  transform: translate(50%, 50%);
  z-index: 2000;
  visibility: visible
}

.div-notification-1 {
  color: #ffffff;
  position: fixed;
  top: 36%;
  left: 55%;
  width: 300px;
  height: 44px;
  transform: translate(-55%, -55%);
  z-index: 2000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  visibility: visible;
}

.div-notification-2 {
  color: #ffffff;
  position: fixed;
  top: 14%;
  right: 50%;
  width: 342px;
  height: 44px;
  transform: translate(50%, 0);
  z-index: 3000;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 9px;
  visibility: visible;
}

.missed-ride {
  color: #ffffff;
  position: fixed;
  top: 32%;
  left: 58%;
  width: 278px;
  height: 44px;
  transform: translate(-55%, -55%);
  z-index: 2004;
  visibility: hidden;
}


.ride-price-dashboard {
  color: #ffffff;
  position: fixed;
  bottom: 15%;
  right: 45%;
  transform: translate(50%, 0%);
  width: 336px;
  height: 151px;
  z-index: 3010;
  text-align: center;
  visibility: hidden;
}

.ride-request-dashboard {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 10%;
  width: 299px;
  height: 60px;
  border: 2px solid white;
  background-color: #ba0860;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-left: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-route-status {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 50%;
  width: 299px;
  height: 60px;
  border: 2px solid white;
  background-color: #ba0860;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-left: 5px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.ride-route-try {
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 51%;
  width: 312px;
  height: 72px;
  background-color: #f5e3a5;
  transform: translate(50%, 50%);
  z-index: 2000;
  text-align: center;
  visibility: hidden;
}

.div-confirm {
  color: #5f5b5b;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 51%;
  width: 312px;
  height: 72px;
  border: 2px solid white;
  background-color: #f5e3a5;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-right: 11px;
  padding-left: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: show;
}

.driver-cancel-ride {
  color: #5f5b5b;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 57%;
  right: 51%;
  width: 312px;
  height: 72px;
  border: 2px solid white;
  background-color: #f5e3a5;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding-top: 6px;
  padding-right: 11px;
  padding-left: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.div-reason {
  color: #5f5b5b;
  position: fixed;
  margin: -100px 0 0 -100px;
  top: 46%;
  right: 51%;
  width: 260px;
  height: 155px;
  border: 2px solid white;
  background-color: #f5e3a5;
  transform: translate(50%, 50%);
  z-index: 2002;
  padding-top: 6px;
  padding-right: 11px;
  padding-left: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: show;
}

.u-driver-dashboard {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  bottom: 10%;
  right: 7%;
  width: 328px;
  height: 86px;
  border: 2px solid white;
  background-color: #16cead;
  z-index: 2000;
  padding-top: 17px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.u-driver-dashboard-2 {
  color: #ffffff;
  position: fixed;
  margin: -100px 0 0 -100px;
  bottom: 8%;
  right: 11%;
  width: 305px;
  height: 86px;
  border: 2px solid white;
  background-color: #e6b939;
  z-index: 2000;
  padding-top: 22px;
  padding-left: 15px;
  padding-right: 9px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.driver-pax-action {
  color: #ffffff;
  position: fixed;
  bottom: 65px;
  right: 14%;
  width: 260px;
  height: 162px;
  border: 2px solid white;
  background-color: #7d8189;
  z-index: 2000;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 10px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.driver-pax-end-action {
  color: #000000;
  position: fixed;
  bottom: 30px;
  right: 20%;
  width: 260px;
  height: 133px;
  border: 2px solid white;
  background-color: #f9fce3;
  z-index: 2000;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 7px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.check-ride-dashboard {
  height: 92px;
  left: 35%;
  position: fixed;
  top: 50%;
  width: 304px;
  margin: -100px 0 0 -100px;
  color: #ffffff;
  border: 2px solid white;
  background-color: #3a6469;
  z-index: 2000;
  padding-top: 17px;
  padding-left: 5px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  box-sizing: border-box;
  visibility: hidden;
}

.div-accept-button {
  position: absolute;
  top: 203px;
  right: 50%;
  width: 260px;
  height: 120px;
  transform: translate(50%, 50%);
  z-index: 2000;
  margin: 2px;
  visibility: hidden;
}

.Label.Group.charge {
  background-color: #f86d20;
}

.Label.Group.account {
  background-color: #3c8f05;
}

.div-ride-price {
  color: black;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: white;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
 
}

.div-request {
  color: #454242;
  position: absolute;
  bottom: 205px;
  right: 50%;
  width: 260px;
  height: 100px;
  border: 2px solid white;
  background-color: #eef9e9;
  transform: translate(50%, 50%);
  z-index: 2000;
  padding: 5px;
  margin: 2px;
  text-align: center;
  box-shadow: 10px 10px 10px gray;
  box-sizing: border-box;
  visibility: hidden;
}

.div-pickup-btn-box {
  margin: 5px;
  bottom: 5px;
  text-align: center;
  left: 25%;
}

.div-pickup-address {
  line-height: 17px;
  padding: 10px;
  font-size: 12px;
  color: rgb(59, 58, 58);
}

.style-1 {
  color: green;
}

.mapid {   
  height: 865px;
  width: 100%; 
}

.popup-title {
  color: #000000;
}

.popup-content {
  color:#4ea74e;
}

div.rowPadding {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.rowPaddingSm {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ui.grid > .row_sm {
  padding-top: 5px;
  padding-bottom: 0px;
}

.ui.grid > .row_sr {
  padding-top: 0px;
  padding-bottom: 5px;
  line-height: 0.429em;
}

.ui.grid > .row_xs {
  padding-top: 1px;
  padding-bottom: 0px;
}

.driverApplyBox {
   background-color: antiquewhite;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 10px;
   padding-bottom: 20px;
   box-shadow: 10px 10px 10px gray;
}

.driverLoginBox {
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 18px;
  border: solid #e3dcdc 1px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.riderLoginBox {
  background-color: #3ce9af;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 94px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  width: 312px;
  height: 331px;
  color: white;
  margin-left: 5%;
  margin-bottom: 10%;
}

.riderApplyBox {
  background-color: #c9c5c0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 25px;
  width: 312px;
  margin-left: 5%;
  margin-bottom: 10%;
}

.boxHeader {
  color: #454242;
  font-size: 15px;
}

.tooltip-inner {
  background-color: #bd3030;
}

.tooltip-arrow {
  border-bottom-color: #bd3030;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-ride-request {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shake-finish-ride {
  animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.shake-ride-to-pickup {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.shake-intro {
  animation: shake 5.5s;
  animation-iteration-count: infinite;
}

.shake-slow {
  animation: shake 3.5s;
  animation-iteration-count: infinite;
}

.notify-rider {
  position: absolute;
  top: -33px;
  left: 39px;
  color: #ef0606;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 13px;
  padding-bottom: 2px;
}

.notify-rider_2 {
  position: absolute;
  top: -33px;
  left: 39px;
  color: #ef0606;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px gray;
  border-radius: 60px;
  padding-right: 10px;
  padding-left: 13px;
  padding-bottom: 2px;
}

.file1 { 
  font-size: 14px;
  overflow:hidden;
}

input[type="file"] {
  width: 93px;
}

.div_error {
  padding: 5px;
  color: red;
}

.FormError {
  padding-top: 20px;
}

.image-icon-user img {
  height: 17px !important;
  width: 17px !important;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: rgb(241, 244, 245);
  background-color:rgb(231, 160, 127);
  box-shadow: 10px 10px 10px gray;
}

.image-icon img {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: yellow;
  box-shadow: 10px 10px 10px gray;
}

.image-icon-driver img {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: white;
  background-color:rgb(236, 174, 38);
  box-shadow: 10px 10px 10px gray;
}

.card card-style-1 {
  background-color:rgb(236, 174, 38);
  box-shadow: 10px 10px 10px gray;
}

.div-faq {
  color: #000000;
  position: fixed;
  bottom: 15%;
  right: 50%;
  z-index: 2000;
  transform: translate(50%, 50%);
  width: 213px;
  text-align: center;
}

.div-logo-user {
  color: #000000;
  position: fixed;
  bottom: 12%;
  right: 50%;
  z-index: 1900;
  transform: translate(50%, 50%);
  width: 213px;
  text-align: center;
}

.div-logo {
  color: #000000;
  position: fixed;
  bottom: 19%;
  right: 50%;
  z-index: 1900;
  transform: translate(50%, 50%);
  width: 213px;
  text-align: center;
}

.driver-page {
  position: fixed;
  bottom: 29%;
  right: 50%;
  z-index: 1900;
  transform: translate(50%, 50%);
}

.fast-nile {
  position: fixed;
  bottom: 14%;
  right: 81%;
  z-index: 1900;
  transform: translate(50%, 50%);
}

.user-manual {
  position: fixed;
  top: 3.5%;
  right: 20%;
  z-index: 2900;
  transform: translate(50%, 0%);
}

.show_profile_img_upload {
  position: fixed;
  top: 3.5%;
  right: 33%;
  z-index: 2900;
  transform: translate(50%, 0%);
  visibility: hidden;
}

.faq-page {
  position: fixed;
  bottom: 23%;
  right: 50%;
  z-index: 1900;
  transform: translate(50%, 50%);
}

.div-faq-txt {
  position: fixed;
  top: 7%;
  right: 50%;
  z-index: 3002;
  transform: translate(50%, 0%);
  width: 355px;
}

.div-fag-cancel {
  margin-top: 20px;
}

.search_help {
  color: #5f5b5b;
  position: fixed;
  top: 15%;
  right: 17%;
  width: 255px;
  height: 48px;
  transform: translate(50%, 0%);
  z-index: 3000;
  visibility: hidden
}

.search_0 {
  color: #5f5b5b;
  position: fixed;
  top: 15%;
  right: 50%;
  width: 295px;
  height: 48px;
  transform: translate(50%, 0%);
  z-index: 3000;
  visibility: visible
}

.search_1 {
  color: #5f5b5b;
  position: fixed;
  top: 15%;
  right: 50%;
  width: 295px;
  height: 48px;
  transform: translate(50%, 0%);
  z-index: 3000;
  visibility: hidden;
}

.search_result_pickup {
  position: fixed;
  z-index: 3011;
}

.search_result_dropoff {
  position: fixed;
  z-index: 3010;
}

.dropoff_search {
  box-shadow: 10px 10px 10px gray;
}

.pickup_search {
  box-shadow: 10px 10px 10px gray;
}

.a-phone {
  color : white;
}

.a-phone-size {
  font-size: 17px;
  font-weight: bold;
}

.div-pax-name {
  font-size: 10px;
  font-weight: bold;
}

